$light: rgb(255, 255, 255);
$mediumLight: rgb(245, 245, 245);
$darkerlight: rgb(243, 242, 242);
$lightdarker:rgb(234, 232, 232);
$dark: black;
$primaryColor: rgb(78, 108, 255);
$secondaryColor: rgb(81, 220, 255);
